#address-wrapper {
	padding-top: 10%;
}

#billing{
	margin-left: auto;
	margin-right: auto;
	padding-left: 27%;
	padding-top: 10%;
}

#products-wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font: 12px Helvetica;
}

.acceptButton {
	padding-top: 2%;
 	padding-left: 6%
}

.products {
	width: 60%;
	float:left;
	margin-right: 10px;
}

.product {
	margin-bottom: 10px;
	height: 110px;
	border: 2px solid #EEE;
	border-radius: 5px;
	
}

.product .product-content {
	text-align: center;
}

.product .product-content h3 {
	margin: 0px;
	color: #3498db;
}

.shopping-cart{
	width: 25%;
	float:left;
	padding: 10px;
	border: 1px solid #EEE;

}

.shopping-cart h2 {
	padding: 3px;
	font-size: 13px;
	margin: -10px 75px 5px;
}

.float-right{
	float: right;
}

.check-out-txt{
	float:right;
}

.cart{
	width: 100%;
	float:left;
	border: 2px solid #EEE;
	border-radius: 5px;
}

.cart .price{
	float: right;
	margin-right: 10px;
	font-weight: bold;
}
.cart .product-info{
	width: 70%;
}

.product-info h3 {
	color: #3498db;
}

.btn {
	background: #3498db;
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	border-radius: 11px;
	font-family: Arial;
	color: #ffffff;
	font-size: 10px;
	padding: 5px 11px 5px 11px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.margin-top-small {
	margin-top: 5px;
}

#price, #quantity, #buyButton {margin-top: 3%; width: 33.3%; }
#price, #quantity { float: left; }
#buyButton {float: right; clear: none; }

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 7%;
}
input {
  display: inline-block;
}